<a href="https://colab.research.google.com/github/SUSREE64/ColabR/blob/main/Twitter_Disaster_Tweets_classification_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Twitter Tweets Text Classification with R

In [4]:
library(tidyverse)
library(readr)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.1     ✔ dplyr   1.0.5
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Getting The train.csv and test.csv files into the R Dataframes

In [5]:
# it is important to get the file path raw
train_path = "https://raw.githubusercontent.com/SUSREE64/ColabR/main/train.csv"
test_path = "https://raw.githubusercontent.com/SUSREE64/ColabR/main/test.csv"

In [6]:
# Read files
train_df <- read_csv(url(train_path))
test_df <- read_csv(url(test_path))

── Column specification ────────────────────────────────────────────────────────
cols(
  id = col_double(),
  keyword = col_character(),
  location = col_character(),
  text = col_character(),
  target = col_double()
)



── Column specification ────────────────────────────────────────────────────────
cols(
  id = col_double(),
  keyword = col_character(),
  location = col_character(),
  text = col_character()
)

In [7]:
head(train_df)

  id keyword location
1 1  NA      NA
2 4  NA      NA
3 5  NA      NA
4 6  NA      NA
5 7  NA      NA
6 8  NA      NA
  text
1 Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all
2 Forest fire near La Ronge Sask. Canada
3 All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected
4 13,000 people receive #wildfires evacuation orders in California
5 Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school
6 #RockyFire Update => California Hwy. 20 closed in both directions due to Lake County fire - #CAfire #wildfires
  target
1 1
2 1
3 1
4 1
5 1
6 1

In [8]:
head(test_df)

  id keyword location
1  0 NA      NA
2  2 NA      NA
3  3 NA      NA
4  9 NA      NA
5 11 NA      NA
6 12 NA      NA
  text
1 Just happened a terrible car crash
2 Heard about #earthquake is different cities, stay safe everyone.
3 there is a forest fire at spot pond, geese are fleeing across the street, I cannot save them all
4 Apocalypse lighting. #Spokane #wildfires
5 Typhoon Soudelor kills 28 in China and Taiwan
6 We're shaking...It's an earthquake